
<!-- 
##################################################################
Creator name :- SANTHANAMANI S
CREATE DATE:-3/11/2021
DESCRIPTION : This Routing using for the navbar call use for this method

###################################################################
 -->
<app-navbar></app-navbar>

<!-- 
##################################################################
Creator name :- SANTHANAMANI S
CREATE DATE:-3/11/2021
DESCRIPTION : This Routing using for the common description method use the for the this function

###################################################################
 -->

<app-dish-list myattr=orderby ></app-dish-list>


<!-- 
##################################################################
Creator name :- SANTHANAMANI S
CREATE DATE:-3/11/2021
DESCRIPTION : This Routing using for website footer design create the use for the this method

###################################################################
 -->


<app-footer></app-footer>